body {
    margin: 0px;
    /* width: 1728px; */
}

.header {
    width: 100%;
    height: 127px;
    flex-shrink: 0;
    background: #6F6AF7;
    position: fixed;
}


.dapprimg {
    flex-shrink: 0;
    color: #FFF;
    font-family: Delius Unicase;
    font-style: normal;
    line-height: normal;
    padding-top: 30px;
}

li {
    display: inline;
}

ul {

    display: inline;
    height: 25px;
}

.l1 {
    width: 102px;
    height: 33px;
    flex-shrink: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 36.43px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.l2 {
    width: 157px;
    height: 36px;
    flex-shrink: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 36.43px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
}

.l3 {
    width: 199px;
    height: 36px;
    flex-shrink: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 36.43px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
}

.l4 {
    width: 89px;
    height: 36px;
    flex-shrink: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 36.43px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;

}

.vectorimg {
    width: 7.768px;
    height: 14px;
    flex-shrink: 0;
    fill: #FFF;
}

#searchbar {
    width: 314px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 63px;
    background: #FFF;
    color: #9F9F9F;
    font-family: DM Sans;
    font-size: 24.43px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-image: url('search\(1\).svg');
    background-repeat: no-repeat;
    background-position: 270px 15px;
    padding-left: 30px;
}

.menu {
    padding-left: 10px;
}

.search {
    display: inline;
}


.upper {
    margin-top: 10%;
    display: flex;
}

.upperlt {
    width: 456px;
    height: 507px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url('image\ 4.png'), lightgray 50% / cover no-repeat;
    margin-left: 3%;
}

.uppermdl {
    width: 972px;
    height: 507px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 6px solid #FFF;
    background: #E5D8FF;
    box-shadow: 3px 5px 27px 0px rgba(0, 0, 0, 0.25) inset;
    margin-left: 25px;
}

.uppermdl>p {
    width: 922px;
    height: 83px;
    flex-shrink: 0;
    color: #6F7373;
    font-family: DM Sans;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 178.7%;
    padding-left: 25px;
    /* 51.823px */
}

.upperrt {
    display: inline-flex;
    padding: 173px 16px 0px 8px;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 10px;
}

.waimg {
    padding-top: 30px;
}


.middle {
    display: flex;
    margin-top: 35px;
}

.middle1,
.middle2,
.middle3,
.middle4 {
    margin: 20px;
    padding-left: 8px;

}

.middle1 {
    width: 337px;
    height: 145.481px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #929DFF;
    box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);

}

.middle1>p {
    color: #FFF;
    font-family: DM Sans;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.16px;
    text-align: left;
    padding-left: 25px;

}

.middle2 {
    width: 337px;
    height: 145.48px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #734CF2;
    box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
}

.middle2>p {
    color: #FFF;
    font-family: DM Sans;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.16px;
    text-align: left;
    padding-left: 25px;

}

.middle3 {
    width: 337px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #D288FF;
    box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);

}

.middle3>p {
    text-align: left;
    padding-left: 8px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.16px;
    text-align: left;
    padding-left: 25px;

}

.middle4 {
    width: 337px;
    height: 145.48px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #000;
    box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
}

.gimg {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    margin-left: 80%;
    position: fixed;
    bottom: 20px;

}

.middle4>p {
    color: #FFF;
    font-family: DM Sans;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.16px;
    text-align: left;
    padding-left: 25px;

}

.container {
    width: 1542px;
    height: 717px;
    flex-shrink: 0;
    border-radius: 21px;
    background: #483EFF;
    margin-top: 3em;
    margin-left: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.lower {
    width: 1542px;
}


.yourinfo {
    width: 397px;
    height: 133px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #BCE0F6;
    box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.39);
    margin: 30px;

}

.yourinfo>p {
    width: 250px;
    height: 43px;
    flex-shrink: 0;
    color: #000;
    font-family: DM Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 178.7%;
    /* 62.545px */
    letter-spacing: 1.4px;
    text-align: center;
    padding-left: 7px;
    padding-top: 35px;

}

.bookmarks {
    width: 397px;
    height: 133px;
    flex-shrink: 0;
    flex-shrink: 0;
    border-radius: 21px;
    background: #483EFF;
    border-radius: 22px;
    border: 5px solid #FFF;
    margin: 30px;
    flex-direction: column;
    text-align: center;

}

.bookmarks>p {
    width: 234px;
    height: 43px;
    flex-shrink: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 178.7%;
    /* 62.545px */
    letter-spacing: 1.4px;
    text-align: center;

}

.settings {
    width: 397px;
    height: 133px;
    flex-shrink: 0;
    border-radius: 21px;
    background: #483EFF;
    border-radius: 22px;
    border: 5px solid #FFF;
    margin: 30px;
    text-align: center;

}

.settings>p {
    width: 176px;
    height: 43px;
    flex-shrink: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 178.7%;
    /* 62.545px */
    letter-spacing: 1.4px;
    text-align: center;

}


.card {
    width: 1004px;
    height: 656px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #FFF;

}

.card>h3 {
    height: 36px;
    flex-shrink: 0;
    color: #04285A;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.99px;
    padding-left: 5%;
    padding-top: 8%;

}

.card>p {
    color: #04285A;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.94px;
    padding-left: 5%;
}

.button {
    width: 207px;
    height: 78px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #000;
    color: #FFF;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5px;
    margin-left: 70%;
    margin-top: 10%;
}

button:hover {
    cursor: pointer;
}